<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>"What's up"</h1>
    <h1>"Here is that article:"</h1>

         <li><%= @desiredArticle.title %></a></li>
         <li><%= @desiredArticle.content %></a></li>

  </body>
</html>